@font-face {
    font-family: UL;
    src: url(Fonts/Aileron-UltraLight.otf);
}

@font-face {
    font-family: UB;
    src: url(Fonts/Aileron-Bold.otf);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #16161a;
    color: white;
    font-family: UL;
}

a:hover {
    text-decoration: none;
}

.navbar {
    padding: 20px 50px;
}

.navbar-brand {
    font-family: UB;
    font-size: 30px;
}

.nav-item {
    padding-left: 30px;
}


.fKGsDq {
    background-image: url("Images/bursts.svg");
    background-size: 175%;
    background-position: 46% 4%;
    -moz-box-pack: center;
    justify-content: center;
    min-height: 846px;
    text-align: center;
}

.fKGsDq h1 {
    font-family: UB;
    font-size: 136px;
    padding-top: 80px;
}

.fKGsDq p {
    font-size: 25px;
}

.fKGsDq button {
    background-color: #7f5af0;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fffffe;
    padding: 14px;
    transition: all .5s ease;
}

.fKGsDq button:hover {
    background-color: #9575f3;
    transform: scale(1.07);
}

.klIOsk2 {
    background-color: black;
    height: 50vh;
}

.klIOsk2 h6 {
    color: #94a1b2;
    font-size: 20px;
}

.klIOsk2 h6 a {
    font-size: 18px;
    color: #94a1b2;
    text-decoration: none;
}

.klIOsk2 h6 a:hover {
    color: #7f5af0;
}

.footer-category-contatiner h6 {
    line-height: 2rem;
}

.footer-Icon {
    display: inline-block;
}

.footer-Icon i {
    color: white;
    background-color: #16161a;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 8px;
    transition: all .2s ease;
}
.footer-Icon i:hover {
    color: #7f5af0;
    text-decoration: none;
}

.footerPr {
    display: inline-flex;
}

.footerPr a {
    margin-right: 8px;
    color: #94a1b2;
    font-size: 14px;
}

.footerPr a:hover {
    color: #7f5af0;
}

.rtl {
    color: #fffffe;
}